/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 9px 100px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

#outer-box{
  background: purple;
  padding: 10px;
}

.white-text{
  color: aliceblue;
}
.inner-box{
  background:red;
}